@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
    font-family: 'Turret Road', cursive;
    background-color: rgb(0, 15, 58);
    color:white;
    text-align:center;
}

.main-title{
    margin: 7vh 0 0 0;
}

.controller{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    width:60vw;
    margin: 2vh;
}

.selector{
    display:flex;
    padding:2vh 0;
    flex-direction:column;
    align-items: center;

    flex-basis:30%;
}

.selector__title{
    padding-bottom:15px;
}

.image{
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 0px;
}

.form{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.form__input{
    margin:0 10px;
}


